VDG_DEFAULT_OUTPUT_DIR=
VDG_DEVICE_MAKE=
VDG_DEVICE_MODEL_4G=
VDG_TICKET_DEVICE_MODEL=
VDG_DEFAULT_FOTA_UFW=
VDG_DEFAULT_FOTA_MODEL=

VDG_CRM_LOGIN_API_URL=
VDG_CRM_TICKET_API_URL=
VDG_CRM_USERNAME=
VDG_CRM_PASSWORD=
